.hlinks:link {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.hlinkset {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.hlinks:visited {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.hlinks:hover {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
}
.indtitle {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.indlink:link {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.indlink:visited{
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.indlinde{
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	background-color: #FFFFFF;
}
.indlink:hover {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e5e1d2;
}
.titlink:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.titlink:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.titlinde {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	background-image: url(../images/titleedgebgover.gif);
	background-repeat: repeat-x;
	background-position: center;
}
.titlink:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #ffffff;
	text-decoration: underline;
}
.sitemaplinkde{
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sitemaplink:visited{
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sitemaplink:link {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sitemaplink:hover {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.indbdtext {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
}
.indbdmore:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.indbdmore:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.indbdmore:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
.douknow {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #735f04;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.nxttt {
	font-family: "Myriad Pro";
	font-size: 14px;
	color: #000000;
	padding-right: 0px;
	padding-left: 20px;
	padding-top: 10px;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	font-weight: bold;
}
.nxttt2 {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #000000;
	padding-right: 0px;
	padding-left: 10px;
	padding-top: 10px;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	font-weight: bold;
}
.nxtttesti {
	font-family: "Myriad Pro";
	font-size: 12px;
	color: #000000;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
}
.nxtbdtxttesti {
	font-family:  "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: normal;

}
.nxtbdtxt {
	font-family:  "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 10px;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.nxtbdgalleryli {
font-family:  "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.nxtbdmore:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdmore:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdmore:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdsite:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: none;
	padding-right: 20px;
}
.nxtbdsite:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: none;
	padding-right: 20px;
}
.nxtbdsite:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #735F04;
	text-decoration: underline;
	padding-right: 20px;
}
.dykct {

	font-family:  "Trebuchet MS";
	font-size: 11px;
	color: #000000;
	padding-right:10px;
	padding-left: 10px;
	padding-top: 10px;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.dyktt {

	font-family: "Myriad Pro";
	font-size: 13px;
	color: #000000;
	padding-right: 0px;
	padding-left: 6px;
	padding-top: 10px;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	font-weight: bold;
}
.nxtttestiborderlt {

	font-family: "Myriad Pro";
	font-size: 12px;
	color: #000000;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
	border-right-width: thin;
	border-right-style: ridge;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
