.hlinks:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-left: 0px;
}
.hlinkset {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #826C09;
	text-decoration: none;
	padding-left: 0px;
}
.hlinks:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-left: px;
}
.hlinks:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: underline;
	padding-left: px;
}
.indtitle:link {
	font-family: Arial;
	font-size: 13px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.indtitle:hover {
	font-family: Arial;
	font-size: 13px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.indtitle:visited {
	font-family: Arial;
	font-size: 13px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.indlink:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	font-weight:bold;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
}
.indlink:visited{
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	font-weight:bold;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
}
.indlink:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	display:block;
	background-color: #796509;
	border-right-width: thin;
	border-right-style: inset;
	border-right-color: #FFFFFF;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
		background-image: url(../images/bulleton.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
}
.indlinde{
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
	background-color: #C5B228;
	padding-left: 20px;
	border-right-width: thin;
	border-right-style: inset;
	border-right-color: #FFFFFF;
	background-image: url(../images/bulletactive.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
}
.titlink:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-left: 10px;
	text-transform: uppercase;
}
.titlink:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: none;
	padding-left: 10px;
	text-transform: uppercase;
}
.titlinde {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #ffffff;
	font-weight:bold;
	text-decoration: none;
	padding-left: 10px;
	text-transform: uppercase;
}
.titlink:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	text-decoration: underline;
	padding-left: 10px;
	text-transform: uppercase;
}
.sitemaplinkde{
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.sitemaplink:visited{
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.sitemaplink:link {
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.sitemaplink:hover {
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.indbdtext {
	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-right: 20px;
	padding-left: 20px;
}
.indbdmore:link {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
}
.indbdmore:visited {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
}
.indbdmore:hover {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;;
	text-decoration: underline;
}
.douknow {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
}
.nxttt {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-right: 0px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
}
.nxtttuppercase {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-right: 0px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.nxttt2 {
	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-right: 0px;
	padding-left: 10px;
	font-weight: bold;
}
.nxtttesti {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
}
.nxtbdtxttesti {
	font-family:  Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: normal;
}
.nxtbdtxt {
	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	word-spacing: 1px;
	line-height: 17px;
	}
	.gallerybdtxt {
	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-top: 10px;
	}
.nxtbdgalleryli {
	font-family:  Arial;
	font-size: 11px;
	color: #f3e7c7;
	border-right-width: thin;
}
.nxtbdmore:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdmore:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdmore:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: underline;
	padding-right: 20px;
	padding-left: 20px;
}
.nxtbdsite:link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
}
.nxtbdsite:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
	padding-right: 20px;
}
.nxtbdsite:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: underline;
	padding-right: 20px;
}
a.faqsquestions:link {

	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	text-decoration:none;
}
a.faqsquestions:hover {

	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	text-decoration: underline;
}
a.faqsquestions:visited {
	font-family: Arial;
	font-size: 12px;
	color: #F8F4E7;
	text-decoration:none;
}
a.gallery:link {

	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	padding: 0px 10px 0px 10px;
	text-decoration: none
}
a.gallery:visited {
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	padding: 0px 10px 0px 10px;
	text-decoration: none
}
a.gallery:hover {

	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: #c5b656;
	padding: 0px 10px 0px 10px;
	text-decoration: underline
}

.bdlinks:link {

	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
}
.bdlinks:hover {

	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration:underline;
}
.bdlinks:visited {

	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #c5b656;
	text-decoration: none;
}
.dykct {

	font-family:  Arial;
	font-size: 12px;
	color: #F8F4E7;
	padding-right:10px;
	padding-left: 10px;
	padding-top: 10px;
}
.dyktt {

	font-family: Arial;
	font-size: 13px;
	color: #F8F4E7;
	padding-right: 0px;
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
}
.nxtttestiborderlt {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
	background-image: url(../images/testi-sep.png);
	background-repeat: no-repeat;
	background-position: 0px -1px;
}
.nxtttestiborderlttop {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
}
.bestview {
	font-family: Arial;
	font-size: 11px;
	color: #665507;
	padding-left: 20px;
	padding-top: 10px;
	}
	.nxtttestipho {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: bold;
}
.bdsubtitle {
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	font-weight: bold;
}
.bdsubtitlefaqs{
	font-family: Arial;
	font-size: 12px;
	color: #c5b656;
	font-weight: bold;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 10px;
}
.quicklink {
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
