BODY {
	SCROLLBAR-FACE-COLOR: #dce0e2;
 SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
 SCROLLBAR-SHADOW-COLOR: #687888;
 SCROLLBAR-3DLIGHT-COLOR: #687888;
 SCROLLBAR-ARROW-COLOR: #6e7e88;
 SCROLLBAR-TRACK-COLOR: #bcbfc0;
 SCROLLBAR-DARKSHADOW-COLOR: #dce0e2
}

.menubar {
	COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.menubar A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000099; TEXT-DECORATION: none
}
.menubar A:visited {
	COLOR: #000099; TEXT-DECORATION: none
}
.menubar A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000099; TEXT-DECORATION: none
}
.menubar A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; TEXT-DECORATION: underline+overline
}

.menubar1 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.menubar1 A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
.menubar1 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.menubar1 A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
.menubar1 A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #35709A; TEXT-DECORATION: underline + overline
}


.maintext {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.maintextbold {
	COLOR: #666633; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.maintextbold2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.copyright {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.copyright A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
.copyright A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.copyright A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
.copyright A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; TEXT-DECORATION: none
}

SELECT
{
	BACKGROUND: #ffffff; BACKGROUND-IMAGE: url(shade.gif); BORDER-BOTTOM: #004477 1px solid; BORDER-LEFT: #004477 1px solid; BORDER-RIGHT: #004477 1px solid; BORDER-TOP: #004477 1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt;FONT-WEIGHT: none
}

INPUT
{
	BACKGROUND: #ffffff; BORDER-BOTTOM: #004477  1px solid; BORDER-LEFT: #004477  1px solid; BORDER-RIGHT: #004477  1px solid; BORDER-TOP: #004477  1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt;FONT-WEIGHT: none
}
.NOBINPUT
{
	BACKGROUND: #ffffff; BACKGROUND-IMAGE: url(shade.gif); BORDER-BOTTOM: #004477  0px solid; BORDER-LEFT: #004477  0px solid; BORDER-RIGHT: #004477  0px solid; BORDER-TOP: #004477  0px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt;FONT-WEIGHT: bold
}
.BINPUT
{
	BACKGROUND: #ffffff; BACKGROUND-IMAGE: url(shade.gif); BORDER-BOTTOM: #004477  1px solid; BORDER-LEFT: #004477  1px solid; BORDER-RIGHT: #004477  1px solid; BORDER-TOP: #004477  1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}

.textboxes
{
	BACKGROUND: #ffffff; BACKGROUND-IMAGE: url(textbox_shadow.gif); BORDER-BOTTOM: #004477  1px solid; BORDER-LEFT: #004477  1px solid; BORDER-RIGHT: #004477  1px solid; BORDER-TOP: #004477  1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
INPUT.fr1 {
	BORDER-RIGHT: #ffa400 1px solid; BORDER-TOP: #ffa400 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffa400 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffa400 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
INPUT.fr2 {
	BORDER-RIGHT: #a5acb2 1px solid; BORDER-TOP: #a5acb2 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #a5acb2 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5acb2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
IMG.fr1 {
	BORDER-RIGHT: #a5acb2 1px solid; BORDER-TOP: #a5acb2 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #a5acb2 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5acb2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}


TEXTAREA
{
	BACKGROUND: #ffffff; BACKGROUND-IMAGE: url(textbox_shadow.gif); BORDER-BOTTOM: #004477 1px solid; BORDER-LEFT: #004477 1px solid; BORDER-RIGHT: #004477 1px solid; BORDER-TOP: #004477 1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt;FONT-WEIGHT: bold
}
BORDER-RIGHT: 2px solid white; PADDING: 3px; z-index: 10 }
font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	top: 0px;
	clip:  rect(0px auto auto auto);



}
.textlight {
	font-family: Arial, Helvetica, sans-serif;
	color: A5CBE7;
	font-size: 10px;
	font-weight: bold;


}
A.lmnu {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
A.lmnu:visited {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
A.lmnu:hover {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
A.lmnu:active {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
.lmnu {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none;FONT-FAMILY: Verdana
}
.lmnusmall {
	FONT-SIZE: 10px; COLOR: #AF7C46; TEXT-DECORATION: none;FONT-FAMILY: Verdana
}
.errlmnu {
	FONT-SIZE: 11px; COLOR: #CC0000; TEXT-DECORATION: none;FONT-FAMILY: Verdana
}
.lmnucart {
	FONT-SIZE: 10px; COLOR: #6b7079; TEXT-DECORATION: none;FONT-FAMILY: Verdana
}
